*{box-sizing: border-box;}

#fullpage{
  font-family: "Libre Franklin", "Helvetica", "sans-serif";
}

.searchblock{
  background-image: url("../images/hero-splash-roommates-fun.jpg");
  background-size: cover;
  height: 500px;
  padding: 0px;
  text-align: center;
}

.searchblock h1{
  color: white;
  font-weight: 400;
}

.searchblock p{
  color: white;
  font-size: 16px;
  font-weight: 100;
}

.columnscontainer{
  font-size: 0;
}

.city-pic-column{
  display: inline-block;
  font-size: medium;
  vertical-align: top;
  width: 25%;
}

.city-pic-column img{
  padding: 8px 16px 8px 16px;
  width: 100%;
}
