*{box-sizing: border-box;}

body{margin: 0;}

#fullpage{
  font-family: "Libre Franklin", "Helvetica", "sans-serif";
}

.navbar{
  background-color: #F55E05;
  margin: auto;
  /*width: 100%;*/
}

.navbar img{
  margin: 16px;
  width: 100px;
}

.navelements {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 2px;
  vertical-align: top;
}

.navelements p{
  color: white;
  display: inline-block;
  margin: 16px 16px;
}

.listbutton p{
  border: 1px solid #B0E6E2;
  border-radius: 2px;
  color: #B0E6E2;
  padding: 8px 16px;
}

.mainblock{
  background-image: url("../images/hero-splash-roommates-fun.jpg");
  background-size: cover;
  height: 600px;
  padding: 150px 0px;
  text-align: center;
}

.mainblock h1{
  color: white;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0px;
}

.mainblock p{
  color: white;
  font-size: 16px;
  font-weight: 100;
  margin-top: 8px;
}

.searchbar{vertical-align: middle;}

.searchbar input{
  font-size: 24px;
  display: inline-block;
  padding: 8px 16px;
  height: 48px;
  line-height: 24px;
  width: 300px;
}

.searchbar p{
  background-color: #29BBAF;
  font-size: 16px;
  display: inline-block;
  margin-left: -4px;
  padding: 16px 24px;
}

.columnscontainer{
  font-size: 0;
}

.city-pic-column{
  display: inline-block;
  font-size: medium;
  padding: 8px 16px;
  vertical-align: top;
  width: 25%;
}

.city-pic-column img{
  margin: 0;
  width: 100%;
}

.city-pic-column p{
  background-color: rgb(45,45,45);
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 8px;
}


.morecities p{
  border: 1px solid orange;
  border-radius: 8px;
  color: orange;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  text-align: center;
  width: 200px;
}

.exampleblurb{
  background-color: lightgrey;
}

.examplebox, .example, .blurbinfo{
  display: inline-block;
}

.examplebox{
  margin-left: 200px;
  width: 50%;
}

.example{
  background-color: white;
  border: 1px solid black;
  margin: 32px;
}

.example img{
  width: 300px;
}

.example h4{
  font-size: 16px;
    padding: 0px 0px 0px 16px;
}

.example p{
  font-size: 16px;
  line-height: 1;
  margin: 8px 0px;
  padding-left: 16px;
}

.blurbinfo{
  font-size: 16px;
  margin-left: -100px;
  vertical-align: top;
}

.blurbinfo h2{
  font-size: 32px;
  font-weight: 400;
}

.blurbinfo ul{
  line-height: 1.75;
}

.inforow{
  background-color: rgb(45,45,45);
  font-size: medium;
}

.companycolumn, .mediacolumn,
.directorycolumn{
  display: inline-block;
  font-size: medium;
  margin: 0;
  padding: 0px 0px 16px 16px;
  vertical-align: top;
  width: 33%;
}

.inforow h4{
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.inforow p{
  color: lightgrey;
  font-size: 12px;
  font-weight: 100;
}

.socialmedia{
  background-color: rgb(45,45,45);
  border-top: 1px solid lightgrey;
  text-align: right;
}

.socialmedia img{
  margin: 16px;
  width: 50px;
}

.chatbox{
  background-color: white;
  border-bottom: 8px solid #29BBAF;
  border-top: 8px solid #29BBAF;
  border-right: 8px solid #29BBAF;
  bottom: 16px;
  /*height: 175px;*/
  left: 0;
  position: fixed;
  width: 325px;
}

.chatbox h4{
  background-color: #B0E6E2;
  color: black;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
  padding: 8px 16px;
}

.chatbox img{
  display: inline-block;
  margin: 16px;
  vertical-align: middle;
  width: 33%;
}

.chatbox p{
  display: inline-block;
  margin-top: 0;
  padding-left: 0px;
  vertical-align: middle;
}

.chatlink{
  color: #F55E05;
}
